* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/ROBOTO-REGULAR_3.TTF"); }

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/ROBOTO-BOLD_3.TTF"); }

body {
  font-family: RobotoRegular; }
  body #header_top {
    background-color: #00a0e8;
    width: 100%;
    height: 25px; }
    body #header_top .header-top {
      color: #fff;
      font-size: 11px;
      width: 100%;
      padding: 3px 0px;
      display: flex;
      justify-content: space-between; }
      body #header_top .header-top-left {
        display: flex;
        justify-content: left;
        width: 15%; }
        body #header_top .header-top-left img {
          width: 18px;
          height: 10px;
          margin: 5px; }
      body #header_top .header-top .en {
        margin-right: 10px; }
      body #header_top .header-top-right {
        width: 30%;
        display: flex;
        justify-content: right; }
        body #header_top .header-top-right div {
          margin-left: 10px;
          text-align: right; }
          body #header_top .header-top-right div img {
            width: 12px;
            height: 10px;
            margin: 2px; }
  body #header_bottom {
    background-color: #dcdcdc;
    width: 100%;
    height: 100px;
    opacity: 0.8;
    position: fixed;
    top: 25px;
    z-index: 99; }
    body #header_bottom .header-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      body #header_bottom .header-bottom-left a img {
        width: 200px;
        height: auto;
        padding: 20px; }
      body #header_bottom .header-bottom-right {
        width: 80%;
        display: flex;
        flex-wrap: wrap; }
        body #header_bottom .header-bottom-right .bottom-right-one {
          width: 100%;
          padding: 10px;
          text-align: center; }
          body #header_bottom .header-bottom-right .bottom-right-one .header-search {
            width: 100%;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            position: relative; }
            body #header_bottom .header-bottom-right .bottom-right-one .header-search input {
              width: 65%;
              border-radius: 50px;
              border: 1px solid #2064b0;
              padding: 10px;
              padding-left: 25px;
              font-size: 11px; }
              body #header_bottom .header-bottom-right .bottom-right-one .header-search input:focus {
                outline: none; }
            body #header_bottom .header-bottom-right .bottom-right-one .header-search button {
              position: absolute;
              background-color: #0c57ab;
              border-radius: 50px;
              right: 150px;
              font-size: 12px;
              text-transform: uppercase;
              color: #fff;
              padding: 7px 15px;
              border: none;
              font-family: RobotoBold; }
              body #header_bottom .header-bottom-right .bottom-right-one .header-search button:focus {
                outline: none; }
              body #header_bottom .header-bottom-right .bottom-right-one .header-search button img {
                width: 23px; }
              body #header_bottom .header-bottom-right .bottom-right-one .header-search button:hover {
                cursor: pointer; }
        body #header_bottom .header-bottom-right .bottom-right-two {
          width: 100%;
          display: flex;
          justify-content: right; }
          body #header_bottom .header-bottom-right .bottom-right-two ul {
            width: 83%;
            display: flex;
            justify-content: center;
            font-size: 14px;
            text-transform: uppercase;
            font-family: RobotoBold; }
            body #header_bottom .header-bottom-right .bottom-right-two ul li {
              list-style: none;
              display: inline-block;
              margin-left: 10px;
              padding: 7px 0px; }
              body #header_bottom .header-bottom-right .bottom-right-two ul li a {
                color: #000;
                opacity: 0.9; }
                body #header_bottom .header-bottom-right .bottom-right-two ul li a:hover {
                  text-decoration: none;
                  color: #00a0e8; }
            body #header_bottom .header-bottom-right .bottom-right-two ul .active a {
              text-decoration: underline;
              color: #00a0e8; }
          body #header_bottom .header-bottom-right .bottom-right-two .header-action {
            width: 17%;
            display: flex;
            justify-content: right; }
            body #header_bottom .header-bottom-right .bottom-right-two .header-action a {
              margin-left: 10px; }
              body #header_bottom .header-bottom-right .bottom-right-two .header-action a img {
                opacity: 0.8; }
  body #header_slider {
    width: 100%;
    height: 600px; }
    body #header_slider div {
      width: 100%;
      height: 600px;
      overflow: hidden; }
      body #header_slider div a img {
        width: 100%;
        height: 600px;
        object-fit: cover; }
  body #header_mobile {
    width: 100%;
    z-index: 99999; }
    body #header_mobile .header-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      height: 50px;
      background-color: #fff;
      padding: 10px;
      border-bottom: 2px solid #00a0e8;
      z-index: 99999; }
      body #header_mobile .header-mobile .mb-button {
        position: fixed;
        left: 15px; }
        body #header_mobile .header-mobile .mb-button i {
          font-size: 24px;
          color: #00a0e8; }
        body #header_mobile .header-mobile .mb-button .fa-times, body #header_mobile .header-mobile .mb-button .fa-bars {
          display: none;
          transition: 0.3s; }
        body #header_mobile .header-mobile .mb-button .icon-show {
          display: block !important; }
      body #header_mobile .header-mobile .mb-logo a img {
        padding: 5px;
        padding-top: 0px;
        width: 150px; }
    body #header_mobile nav {
      width: 50%;
      position: fixed;
      top: 50px;
      z-index: 99999;
      height: 100%;
      transition: 0.3s;
      left: -1000px; }
      body #header_mobile nav ul {
        width: 100%;
        height: 100%;
        background-color: #fff;
        list-style: none;
        z-index: 99999; }
        body #header_mobile nav ul li {
          width: 90%;
          margin-left: 10px;
          margin-bottom: 5px;
          padding-bottom: 5px;
          border-bottom: 1px dashed #ccc;
          margin-right: 10px;
          z-index: 99999; }
          body #header_mobile nav ul li a {
            color: #000;
            opacity: 0.8;
            font-size: 14px;
            font-weight: bold; }
            body #header_mobile nav ul li a i {
              padding-right: 10px;
              font-size: 6px; }
    body #header_mobile .nav-show {
      left: 0; }
  body .slick-next {
    right: 0;
    width: 40px;
    height: 40px;
    margin: 10px;
    opacity: 0.4; }
    body .slick-next::before {
      font-size: 30px; }
  body .slick-prev {
    left: 0;
    z-index: 99;
    width: 40px;
    height: 40px;
    margin: 10px;
    opacity: 0.4; }
    body .slick-prev::before {
      font-size: 30px; }
  body #best_seller {
    width: 100%;
    margin-top: 30px; }
    body #best_seller .best-seller-title {
      width: 100%;
      height: 20px;
      border-top: 2px solid #7a7677;
      display: flex;
      justify-content: space-between;
      position: relative; }
      body #best_seller .best-seller-title-left {
        width: 20%;
        background-color: #00a0e8;
        position: absolute;
        top: -2px; }
        body #best_seller .best-seller-title-left h3 {
          font-size: 16px;
          font-family: RobotoBold;
          text-transform: uppercase;
          padding: 10px;
          color: #fff;
          text-align: center;
          margin-bottom: 0px; }
      body #best_seller .best-seller-title-right {
        position: absolute;
        right: 0px; }
        body #best_seller .best-seller-title-right a {
          color: #000;
          opacity: 0.8;
          font-size: 12px; }
          body #best_seller .best-seller-title-right a:hover {
            cursor: pointer;
            text-decoration: none;
            color: #00a0e8; }
    body #best_seller .best-seller-product-list {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      body #best_seller .best-seller-product-list .product-item {
        width: 18%;
        height: 320px;
        background-color: #fff;
        margin-top: 45px;
        position: relative;
        padding: 5px;
        transition: 0.3s; }
        body #best_seller .best-seller-product-list .product-item .action-product-item {
          width: 100%;
          color: #000;
          text-decoration: none;
          text-align: justify; }
          body #best_seller .best-seller-product-list .product-item .action-product-item .percent-reduction {
            background-color: #df0024;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            padding: 8px;
            color: #fff;
            font-size: 14px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            position: absolute;
            top: 10px;
            right: 10px; }
          body #best_seller .best-seller-product-list .product-item .action-product-item img {
            width: 100%;
            height: 220px;
            object-fit: cover; }
          body #best_seller .best-seller-product-list .product-item .action-product-item h3 {
            font-size: 14px;
            font-weight: bold;
            opacity: 0.8;
            margin-top: 10px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            transition: 0.3s; }
            body #best_seller .best-seller-product-list .product-item .action-product-item h3:hover {
              color: #00a0e8; }
          body #best_seller .best-seller-product-list .product-item .action-product-item .price-product-item {
            position: absolute;
            bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 14px; }
            body #best_seller .best-seller-product-list .product-item .action-product-item .price-product-item .price-sale {
              color: #df0024;
              opacity: 0.8;
              font-weight: bold; }
            body #best_seller .best-seller-product-list .product-item .action-product-item .price-product-item .price {
              text-decoration: line-through;
              opacity: 0.6;
              margin-right: 10px; }
          body #best_seller .best-seller-product-list .product-item .action-product-item .buy-now {
            position: absolute;
            bottom: -25px;
            left: 0;
            width: 100%;
            outline: none;
            border: none;
            background-color: #00a0e8;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px;
            text-align: center;
            border-radius: 50px;
            display: none;
            transition: 0.3s; }
            body #best_seller .best-seller-product-list .product-item .action-product-item .buy-now:hover {
              cursor: pointer; }
      body #best_seller .best-seller-product-list .product-item-active {
        transition: 0.3s;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
        body #best_seller .best-seller-product-list .product-item-active .buy-now {
          display: block !important; }
  body #main_banner {
    width: 100%; }
    body #main_banner .main-banner img {
      width: 100%;
      height: 200px;
      object-fit: cover; }
  body #category_product .category-product-title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: RobotoBold;
    font-size: 18px; }
  body #category_product .two-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    body #category_product .two-col .two-col-item {
      width: 49%;
      position: relative; }
      body #category_product .two-col .two-col-item .action-two-col-item {
        color: #000;
        text-decoration: none; }
        body #category_product .two-col .two-col-item .action-two-col-item .box-pecent-sale {
          width: 100px;
          height: 100px;
          position: absolute;
          top: 20px;
          left: 20px;
          background-color: #fff;
          opacity: 0.6;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          border-radius: 5px;
          padding: 13px;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center; }
          body #category_product .two-col .two-col-item .action-two-col-item .box-pecent-sale span:nth-child(1) {
            text-transform: uppercase;
            font-size: 12px;
            font-family: RobotoBold;
            color: #2f67b1;
            font-weight: bold;
            width: 100%; }
          body #category_product .two-col .two-col-item .action-two-col-item .box-pecent-sale span:nth-child(2) {
            width: 100%;
            text-decoration: none;
            font-size: 10px;
            font-family: RobotoBold;
            color: #00a0e8;
            text-transform: uppercase; }
          body #category_product .two-col .two-col-item .action-two-col-item .box-pecent-sale span:nth-child(3) {
            color: #fb0101;
            font-size: 30px;
            font-family: RobotoBold;
            font-weight: bold; }
        body #category_product .two-col .two-col-item .action-two-col-item img {
          width: 100%;
          height: 200px;
          object-fit: cover; }
        body #category_product .two-col .two-col-item .action-two-col-item .cate-pro-title {
          position: absolute;
          bottom: 10px;
          left: 10px;
          color: #fff;
          background-color: #333333;
          padding: 5px 30px 5px 10px;
          border-radius: 0px 50px 50px 0px;
          text-transform: uppercase;
          font-size: 12px;
          font-family: RobotoBold; }
  body #category_product .four-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    body #category_product .four-col .four-col-item {
      width: 24%;
      height: 200px;
      /* background-color: red; */
      margin-top: 20px;
      position: relative; }
      body #category_product .four-col .four-col-item img {
        width: 100%;
        height: 200px;
        object-fit: cover; }
      body #category_product .four-col .four-col-item h3 {
        position: absolute;
        font-size: 14px;
        text-transform: uppercase;
        font-family: RobotoBold;
        color: #fff;
        background-color: #00a0e8;
        padding: 5px 20px 5px 10px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        border-radius: 0px 50px 50px 0px;
        -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.75); }
  body #category_product #cate_slider {
    position: relative; }
    body #category_product #cate_slider .slick-next {
      position: absolute;
      top: -25px;
      right: 0px;
      width: 40px;
      height: 40px;
      margin: 10px;
      opacity: 0.8; }
      body #category_product #cate_slider .slick-next::before {
        font-size: 30px;
        color: #ccc; }
    body #category_product #cate_slider .slick-prev {
      position: absolute;
      top: -25px;
      left: 92%;
      z-index: 99;
      width: 40px;
      height: 40px;
      margin: 10px;
      opacity: 0.8; }
      body #category_product #cate_slider .slick-prev::before {
        font-size: 30px;
        color: #ccc; }
  body #video {
    width: 100%; }
    body #video .video-title {
      width: 100%;
      height: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: url("../images/bg-line.png"); }
      body #video .video-title .video-title-left {
        background-color: #fff;
        width: 280px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: RobotoBold;
        font-size: 16px;
        text-align: center; }
      body #video .video-title .video-title-right {
        background-color: #fff;
        padding: 0px 10px;
        text-align: center; }
        body #video .video-title .video-title-right a {
          color: #ff0000;
          font-size: 14px;
          text-decoration: none;
          font-style: italic;
          transition: 0.3s; }
          body #video .video-title .video-title-right a:hover {
            color: #00a0e8; }
    body #video .video-content {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: space-between; }
      body #video .video-content .video-content-right {
        width: 50%;
        padding-right: 10px; }
        body #video .video-content .video-content-right iframe {
          width: 100%;
          height: 375px; }
      body #video .video-content .video-content-left {
        width: 50%;
        padding-left: 10px; }
        body #video .video-content .video-content-left .content-left-item {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          border: 1px solid #ccc;
          margin-bottom: 10px; }
          body #video .video-content .video-content-left .content-left-item .item-left {
            width: 25%;
            height: 70px; }
            body #video .video-content .video-content-left .content-left-item .item-left a img {
              width: 100%;
              height: 90px;
              object-fit: cover;
              padding: 0px 10px 0px 0px; }
          body #video .video-content .video-content-left .content-left-item .item-right {
            width: 75%; }
            body #video .video-content .video-content-left .content-left-item .item-right a {
              color: #000;
              text-decoration: none; }
              body #video .video-content .video-content-left .content-left-item .item-right a h3 {
                font-size: 14px;
                font-family: RobotoBold;
                text-transform: uppercase;
                transition: 0.3s; }
                body #video .video-content .video-content-left .content-left-item .item-right a h3:hover {
                  color: #00a0e8; }
            body #video .video-content .video-content-left .content-left-item .item-right p {
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 20px;
              -webkit-line-clamp: 3;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              height: 40px; }
  body #committed_quality {
    width: 100%;
    height: 100px;
    background-color: #dff0fc; }
    body #committed_quality .committed-quality-wraper {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      body #committed_quality .committed-quality-wraper .committed-quality-item {
        display: flex;
        justify-content: left; }
        body #committed_quality .committed-quality-wraper .committed-quality-item img {
          width: 100px;
          height: 100px;
          padding: 20px; }
        body #committed_quality .committed-quality-wraper .committed-quality-item .committed-quality-item-right {
          display: block;
          padding: 20px 0px; }
          body #committed_quality .committed-quality-wraper .committed-quality-item .committed-quality-item-right h3 {
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: RobotoBold;
            margin-bottom: 0px; }
          body #committed_quality .committed-quality-wraper .committed-quality-item .committed-quality-item-right p {
            font-size: 12px;
            line-height: 1.5; }

footer #footer_top {
  width: 100%;
  height: 300px;
  background-image: url("../images/bg-footer.png");
  position: relative; }
  footer #footer_top .footer-top-bg {
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: #31566e;
    top: 0;
    opacity: 0.4; }
  footer #footer_top .footer-top-wraper {
    display: flex;
    color: #fff; }
    footer #footer_top .footer-top-wraper div {
      padding: 50px 120px; }
      footer #footer_top .footer-top-wraper div h3 {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase; }
      footer #footer_top .footer-top-wraper div p {
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 1.6; }

footer #footer_bottom {
  width: 100%;
  height: 80px;
  background-color: #019fe8; }
  footer #footer_bottom .footer-bottom-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    height: 80px; }
    footer #footer_bottom .footer-bottom-wraper .footer-bottom-item img {
      margin-left: 10px; }
    footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(2) {
      display: flex;
      justify-content: left;
      align-items: center; }
      footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(2) img {
        width: 50px;
        height: 50px;
        margin-right: 20px; }
      footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(2) .footer-bottom-item-right {
        display: block;
        margin: 20px 0px; }
        footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(2) .footer-bottom-item-right h3 {
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          margin-bottom: 0px;
          font-family: RobotoBold; }
        footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(2) .footer-bottom-item-right p {
          margin-bottom: 0px;
          font-size: 12px;
          color: #fff; }
    footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(3) {
      display: flex;
      justify-content: right;
      align-items: center;
      position: relative;
      width: 350px;
      margin-bottom: 35px; }
      footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(3) input {
        position: absolute;
        right: 0;
        width: 100%;
        height: 30px;
        padding: 5px;
        border: 0px; }
        footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(3) input:focus {
          outline: none; }
      footer #footer_bottom .footer-bottom-wraper .footer-bottom-item:nth-child(3) button {
        z-index: 999;
        position: absolute;
        right: 0;
        top: 0px;
        border: 0px;
        font-size: 12px;
        padding: 6px 10px;
        background-color: #ff0000;
        color: #fff; }

footer #footer_menu {
  width: 100%;
  padding: 20px 0px; }
  footer #footer_menu .footer-menu-wraper {
    display: flex;
    justify-content: space-between; }
    footer #footer_menu .footer-menu-wraper .footer-menu-item {
      width: 25%;
      padding: 20px; }
      footer #footer_menu .footer-menu-wraper .footer-menu-item a img {
        padding: 30px;
        width: 250px; }
      footer #footer_menu .footer-menu-wraper .footer-menu-item h3 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: RobotoBold; }
      footer #footer_menu .footer-menu-wraper .footer-menu-item ul {
        width: 100%;
        list-style: none; }
        footer #footer_menu .footer-menu-wraper .footer-menu-item ul li {
          width: 100%;
          font-size: 12PX; }
          footer #footer_menu .footer-menu-wraper .footer-menu-item ul li i {
            padding: 5px;
            padding-right: 5px;
            font-size: 14px; }
          footer #footer_menu .footer-menu-wraper .footer-menu-item ul li a {
            color: #000;
            text-decoration: none;
            font-size: 12px;
            transition: 0.3s; }
            footer #footer_menu .footer-menu-wraper .footer-menu-item ul li a:hover {
              color: #00a0e8; }
            footer #footer_menu .footer-menu-wraper .footer-menu-item ul li a img {
              width: auto;
              padding: 5px;
              padding-left: 0px; }
  footer #footer_menu .ft-line {
    width: 100%;
    width: 200px;
    display: block;
    margin: 0 auto;
    border-top: 2px solid #ccc; }
  footer #footer_menu .ft-menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style: none;
    margin: 0 auto;
    padding: 20px 0px; }
    footer #footer_menu .ft-menu li {
      border-left: 1px solid #ccc;
      width: 100%;
      text-align: center; }
      footer #footer_menu .ft-menu li:nth-child(1) {
        border: 0px; }
      footer #footer_menu .ft-menu li a {
        text-align: center;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
        font-family: RobotoBold;
        text-decoration: none;
        transition: 0.3s; }
        footer #footer_menu .ft-menu li a:hover {
          color: #00a0e8; }

footer .back-top {
  width: 40px;
  height: 40px;
  background-color: #00a0e8;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  display: none; }
  footer .back-top i {
    font-size: 28px; }
  footer .back-top:hover {
    cursor: pointer; }

@media only screen and (max-width: 480px) {
  #header_top, #header_bottom {
    display: none; }
  body #best_seller .best-seller-product-list .product-item {
    width: 50%; }
  body #header_slider div a img {
    width: 100%;
    height: auto; }
  footer #footer_top .footer-top-wraper {
    flex-wrap: wrap; }
  body #committed_quality .committed-quality-wraper {
    flex-wrap: wrap; }
  body #video .video-content {
    flex-wrap: wrap; }
  body #video .video-content .video-content-right, body #video .video-content .video-content-left {
    width: 100%; }
  body #category_product .four-col .four-col-item {
    width: 50%;
    padding-left: 10px;
    background-color: #fff; }
  body #header_slider, body #header_slider div {
    height: auto; }
  footer #footer_menu .footer-menu-wraper {
    flex-wrap: wrap;
    width: 100%; }
  footer #footer_menu .footer-menu-wraper .footer-menu-item {
    width: 100%;
    padding: 0px; }
  footer #footer_menu .footer-menu-wraper .footer-menu-item:nth-child(1) {
    text-align: center; }
  footer #footer_menu .footer-menu-wraper .footer-menu-item:first a {
    display: inline-block;
    margin: 0 auto; }
  footer #footer_top .footer-top-wraper div {
    padding: 10px;
    height: auto; }
  footer #footer_top .footer-top-bg, footer #footer_top {
    height: auto; }
  body #video .video-content {
    height: auto; }
  body #committed_quality {
    height: auto; }
  footer #footer_bottom .footer-bottom-wraper, footer #footer_bottom {
    height: auto;
    flex-wrap: wrap; }
  body #best_seller .best-seller-title-left {
    width: 60%; }
  body #main_banner .main-banner img {
    height: auto; }
  body #category_product #cate_slider .slick-prev {
    left: 75%; }
  body #video .video-content .video-content-left {
    padding-left: 0px; }
  body #video .video-content .video-content-right {
    padding-right: 0px; }
  footer #footer_menu .ft-menu {
    flex-wrap: wrap; }
  footer #footer_menu .ft-menu li {
    border: 0px;
    width: 50%;
    padding-left: 5%; }
  footer #footer_menu .ft-menu li a {
    text-align: left; }
  footer #footer_top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  footer #footer_menu .ft-menu {
    width: 100%; } }
