.pagination__link{
    margin: 0 auto;
}
.pagination__link nav{
    display: inline-block;
    margin: 0 auto;
}
#alert_success, #alert_danger{
    position: fixed;
    z-index: 999999;
    right: 50px;
    top: 100px;
}
#store_main table tr td:last-child a, #brand_main table tr td:last-child a, #province_main table tr td:last-child a,
#district_main table tr td:last-child a, #ward_main table tr td:last-child a
{
    display: inline-block;
    margin-left: 10px !important;
}
#md_logo span:first-child{
    color: #117a8b; font-weight: bold
}
#md_logo span:last-child{
    color: #dc3545; font-weight: bold
}
.content-wrapper{
    height: auto !important;
}
#md_logo, #md_banner{
    height: 160px;
    object-fit: cover;
}
.icon-nav-awsome{
    padding: 10px;
    font-size: 20px;
}
.btnGray{
 color: #777676;
}
table tr td:nth-child(2) img{
    object-fit: cover;
}


/* gallery */

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }

  #image-gallery .modal-footer{
    display: block;
  }

  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .background_above {
      /* width: 100%;
      height: auto;
      background-color: #117a8b;
      opacity: 0.6;
      position: relative; */

      position: absolute;
      z-index: 4;
      border-radius: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 182, 173, .4);
      opacity: 0;
      color: #fff;
      /* -webkit-transition: opacity .2s ease;
      -moz-transition: opacity .2s ease;
      -o-transition: opacity .2s ease;
      transition: opacity .2s ease; */
      transition: .8s;
      margin: 1px 8px;
      border-radius: 2px;

  }
  .thumb:hover > .background_above{
    opacity: 1;
  }


  .background_above a{
    width: 100%;

}
.background_above a:hover i{
    opacity: 1;
}

.background_above a:first-child{
    left: 23%;
    z-index: 999;
    background-color: red;
}

.background_above a:first-child i{
    left: 31%;
    background-color: #ccc;
}

  .background_above i{
      /* position: absolute;
      display: inline-block;
      top: -45px;
      right: 30px;
      font-size: 25px;
      color: red; */
      transition-delay: 0.5s;
      position: absolute;
      top: 42%;
      left: 50%;
      text-align: center;
      color: #fff;
      background-color: #d9534f;
      font-size: 24px;
      padding: 13px 11px;
      display: inline-block;
      border-radius: 53%;
      width: 50px;
      height: 50px;
      text-align: center;
  }

  .background_above i:hover{
      cursor: pointer;

  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .img-thumbnail{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 300px;
    height: 250px;
    object-fit: cover;
  }

.thumb img{
    width: 100% !important;
    height: 250px !important;
    object-fit: cover;
}
.thumb {
    position: relative;
}
.thumb div.wraper-action{
    background-color: #000;
    padding: 22px;
    width: 90px;
    height: 20px;
    border-radius: 70px;
    z-index: 99999999;
    position: absolute;
    right: 24px;
    top: 7px;
    opacity: 0.6;
}
.thumb .fa-trash {
    position: absolute;
    right: 20px;
    top: 13px;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    z-index: 999999;

}
.thumb a{
    position: absolute;
    right: 50px;
    top: -100px;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    z-index: 999999;
    display: block;
    top: 10px;
    transition: 0.3;
}
.thumb a:hover{
    cursor: pointer;
    color: blue;
}

.thumb .fa-trash:hover{
    cursor: pointer;
    color: red;
}
