<div class="main-card mb-3 card">
    <div class="card-body">
        <table class="mb-0 table table-bordered">
            <thead>
                <tr>
                    <th width="2%"><input type="checkbox"></th>
                    <th width="8%">Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th width="10%">Trạng thái</th>
                    <th width="13%">Action</th>
                </tr>
            </thead>
            <tbody id="list_category">
                
              
            </tbody>
        </table>
    </div>
</div>